:root {
  /* color */
  --dark-gray: #3a3a3a;
  --gray: #cecece;
  --white: #ffffff;
  --black: #010101;
  --red: #f72854;

  /* border radius */
  --rounded-xs: 5px;
  --rounded-sm: 10px;
  --rounded-md: 15px;
  --rounded-xl: 25px;
  --rounded-full: 50%;
  --rounded-pill: 200px;

  /* font-size */
  --text-xs: 0.8em;
  --text-sm: 0.95em;
  --text-md: 1.05em;
  --text-lg: 1.5em;
  --text-xl: 2em;
  --text-2xl: 2.3em;
  --text-3xl: 3.3em;
  --text-4xl: 4.3em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.position-relative {
  position: relative;
}

.btn-primary {
  color: var(--white);
  background-color: var(--red);
  border-radius: var(--rounded-xs);
  padding: var(--text-xs) var(--text-sm);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary:hover {
  filter: brightness(85%);
}

.btn-primary-outline {
  color: var(--red);
  background-color: transparent;
  border-radius: var(--rounded-xs);
  padding: var(--text-xs) var(--text-sm);
  border: 1px solid var(--red);
  outline: none;
  cursor: pointer;
}

.btn-primary-outline:hover {
  background-color: #f7285530;
  color: var(--white);
}

.btn-white-outline {
  color: var(--white);
  background-color: transparent;
  border-radius: var(--rounded-xs);
  padding: var(--text-xs) var(--text-sm);
  border: 1px solid var(--white);
  outline: none;
  cursor: pointer;
}

.btn-white-outline:hover {
  background-color: #ffffff30;
}


.nav-wrapper {
  position: fixed;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  border-radius: var(--rounded-pill);
  padding: 3px 10px;
  border: 1px solid var(--gray);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  margin: 0 auto;
}

.nav-logo {
  display: inline-block;
  max-width: 50px;
}

.nav-logo__image {
  width: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}

.nav-menu__item {
  padding: 2px;
}

.nav-menu__item:hover .nav-menu__item__link {
  filter: brightness(90%);
}

.nav-menu__item__link {
  color: var(--white);
  text-decoration: none;
  font-size: var(--text-sm);
  position: relative;
  transition: all;
}

.nav-menu__item.active .nav-menu__item__link::after {
  content: "";
  position: absolute;
  bottom: -35%;
  left: 50%;
  width: 50%;
  height: 3px;
  transform: translateX(-50%);
  border-radius: var(--rounded-pill);
  background-color: var(--red);
}

.nav-menu__item:hover .nav-menu__item__link::after {
  content: "";
  position: absolute;
  bottom: -35%;
  left: 50%;
  width: 50%;
  height: 3px;
  transform: translateX(-50%);
  border-radius: var(--rounded-pill);
  background-color: var(--red);
}

.main-wrapper {
  width: 100%;
}

.hero {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-main {
  width: 100%;
  background-image: url("../img/dragon-wall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tagline-wrapper {
  max-width: 550px;
}

.tagline-title {
  font-size: var(--text-4xl);
  text-align: center;
  font-weight: bolder;
  margin-bottom: 4vh;
}

.tagline-description {
  text-align: center;
  color: var(--gray);
  margin-bottom: 10vh;
}

.tagline-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.wave {
  position: absolute;
  top: -250px;
  filter: drop-shadow(1px -20px 15px #c8101035);
}

.section {
  padding: 20vh 0;
}

.title-wrapper {
  max-width: 550px;
  margin: 0 auto 15vh auto;
}

.subtitle-wrapper {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25em;
}

.icon {
  color: var(--red);
  display: inline-block;
}

.subtitle {
  font-size: var(--text-sm);
}

.title {
  font-size: var(--text-3xl);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.45em;
}

.title-description {
  color: var(--gray);
  font-size: var(--text-xs);
  text-align: center;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.card-item {
  position: relative;
  overflow: hidden;
  border-radius: var(--rounded-sm);
}

.card-item__image {
  object-fit: cover;
  width: 100%;
}

.card-item__wrapper {
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  transition: top 0.5s;
}

.card-item:hover .card-item__wrapper {
  top: 0;
}

.card-item__title {
  color: var(--black);
  margin-bottom: 10px;
}

.card-item__description {
  color: var(--dark-gray);
  font-size: var(--text-xs);
}

.btn-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: var(--red);
  border-radius: var(--rounded-pill);
  text-decoration: none;
  color: var(--white);
  font-size: var(--text-sm);
  bottom: 12px;
  right: 12px;
  padding: 5px 8px;
}

.btn-link:hover {
  filter: brightness(90%);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  padding-bottom: 5vh;
  align-items: baseline;
}

.footer-item-left {
  width: 30%;
}

.footer-item-right {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.footer-logo {
  max-width: 100px;
}

.footer-tagline {
  font-size: var(--text-md);
  line-height: 1.5em;
  margin-bottom: 20px;
}

.footer-subtagline {
  font-weight: lighter;
  font-size: var(--text-sm);
}

.footer-title {
  margin-bottom: 15px;
}

.footer-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: var(--dark-gray);
  font-size: var(--text-sm);
  transition: all 0.3s;
}

.footer-item:hover .footer-link {
  color: var(--gray);
  transform: translateX(3px);
}

.footer-detail-wrapper {
  padding: 3vh 30px;
  font-size: var(--text-xs);
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact {
  display: flex;
  gap: 10px;
}

.btn-hamburger {
  position: fixed;
  display: none;
  top: 2%;
  right: 4%;
  height: 55px;
  width: 55px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: var(--rounded-full);
  cursor: pointer;
  z-index: 101;
}

@media screen and (max-width: 1420px) {
  .wave {
    top: -180px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }

  .nav-wrapper {
    display: none;
    height: 100vh;
    border-radius: 0;
    top: 0;
    width: 100%;
  }

  .nav-wrapper.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: all 12s linear;
  }

  .nav-logo__image {
    scale: 2;
  }

  .nav-menu {
    flex-direction: column;
    gap: 30px;
  }

  .nav-menu__item__link {
    font-size: var(--text-lg);
  }

  .btn-hamburger {
    display: block;
  }

  .hero {
    height: 100vh;
  }

  .tagline-wrapper {
    padding: 30px;
    height: auto;
  }

  .tagline-action {
    gap: 15px;
  }

  .section {
    padding-top: 10vh;
  }

  .title-wrapper {
    margin-bottom: 7vh;
  }

  .wave {
    top: -5%;
  }

  .footer-wrapper {
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 800px) {
  .section {
    padding-top: 15vh;
  }

  .wave {
    top: -150px;
  }

  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .wave {
    top: -70px;
  }

  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .footer-wrapper {
    flex-direction: column;
    gap: 5vh;
  }

  .footer-item-left {
    width: 100%;
  }

  .footer-item-right {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
